@charset "UTF-8";
@import "../normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@900&display=swap");
.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scrollbar-color: #43ABF0 #10101D;
  scrollbar-width: thin;
}
.root::-webkit-scrollbar {
  width: 7px;
}
.root::-webkit-scrollbar-track {
  background: #10101D;
}
.root::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}

.page {
  max-width: 1920px;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  position: relative;
}

.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scrollbar-color: #43ABF0 #10101D;
  scrollbar-width: thin;
}
.root::-webkit-scrollbar {
  width: 7px;
}
.root::-webkit-scrollbar-track {
  background: #10101D;
}
.root::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}

.header {
  box-sizing: border-box;
  padding: 0 375px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: rgba(16, 16, 29, 0.9);
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity 0.2s linear;
}
.header__link:hover {
  color: #43ABF0;
  opacity: 0.6;
  cursor: pointer;
}
.header__link_active {
  color: #43ABF0;
}
.header__logo {
  width: 247px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__logo span {
  color: #43ABF0;
}
.header__links-items {
  margin: 44px 0 39px 0;
  display: flex;
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
}
.header__links-item {
  margin: 0 60px 0 0;
}
.header__links-item:last-of-type {
  margin: 0;
}

.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scrollbar-color: #43ABF0 #10101D;
  scrollbar-width: thin;
}
.root::-webkit-scrollbar {
  width: 7px;
}
.root::-webkit-scrollbar-track {
  background: #10101D;
}
.root::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}

.order {
  max-width: 1919px;
  height: 857px;
  background-image: url("../images/orderbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.order__buttons {
  display: flex;
  padding: 80px 0 0 375px;
  gap: 30px;
}
.order__title {
  padding: 203px 0 0 375px;
  margin: 0;
  width: 780px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.order__list {
  list-style-type: none;
  padding: 10px 0 0 375px;
}
.order__list-title {
  margin: 0 0 10px 0;
  padding: 80px 0 0 375px;
  width: 534px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.order__list-item {
  width: fit-content;
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.order__list-item:last-of-type {
  margin: 0;
}
.order__list-item::before {
  content: "";
  width: 4.94px;
  height: 1.51px;
  background: #000000;
  border: 0;
  margin: 0 11px;
}
.order__title-span {
  color: #43ABF0;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  width: 183px;
  height: 43px;
  background: #43ABF0;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  transition: opacity 0.3s linear;
}
.button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.button_place_process {
  max-width: 370px;
  width: 100%;
}
.button_place_order {
  color: #2A2B30;
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
}
.button__text {
  width: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button__text_place_order {
  color: #2A2B30;
}

.root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scrollbar-color: #43ABF0 #10101D;
  scrollbar-width: thin;
}
.root::-webkit-scrollbar {
  width: 7px;
}
.root::-webkit-scrollbar-track {
  background: #10101D;
}
.root::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}

.process {
  max-width: 1920px;
  height: 1000px;
  background-image: url("../images/processbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #10101D;
}
.process__file-img {
  width: 17px;
  height: 20px;
}
.process__file-label {
  align-self: end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 370px;
  height: 48px;
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #272733;
  transition: 0.3s linear;
}
.process__file-label:hover {
  cursor: pointer;
  opacity: 0.6;
}
.process__file-input {
  display: none;
}
.process__select {
  display: flex;
  flex-direction: column;
  position: relative;
}
.process__select-img {
  width: 8px;
  height: 5px;
  margin-left: 130px;
  transition: rotate 0.2s linear;
}
.process__select-img_active {
  transform: rotate(180deg);
}
.process__select-wrapper {
  position: absolute;
  top: 65px;
  left: 0;
  display: none;
  box-sizing: border-box;
  background: rgba(39, 39, 51, 0.9);
  border: 1px solid #3D4050;
  border-radius: 3px;
  width: 370px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  align-items: center;
  color: #FFFFFF;
}
.process__select-wrapper::-webkit-scrollbar {
  width: 7px;
}
.process__select-wrapper::-webkit-scrollbar-track {
  background: #10101D;
}
.process__select-wrapper::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}
.process__select-wrapper_active {
  display: block;
}
.process__select-title {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  width: 370px;
  height: 48px;
  outline: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}
.process__select-title_active {
  background: rgba(39, 39, 51, 0.9);
  color: #FFFFFF;
  border: 0;
}
.process__select-label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 5px;
  width: 370px;
}
.process__select-label:hover {
  color: #43ABF0;
}
.process__select-input {
  display: none;
}
.process__select-input:checked + label {
  color: #43ABF0;
}
.process__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  padding-top: 80px;
  max-width: 1172px;
}
.process__form-range {
  max-width: 770px;
  width: 100%;
  height: fit-content;
}
.process__form-text {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.process__form-text-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.process__form-select-option {
  height: 25px;
  overflow-y: scroll;
  scrollbar-track-color: #3D4050;
  scrollbar-face-color: #43ABF0;
}
.process__form-select-option::-webkit-scrollbar {
  width: 7px;
}
.process__form-select-option::-webkit-scrollbar-track {
  background: #10101D;
}
.process__form-select-option::-webkit-scrollbar-thumb {
  background: #43ABF0;
  border-radius: 3px;
}
.process__form-select-option:hover {
  box-shadow: 0 0 10px 100px #43ABF0 inset;
}
.process__form-select {
  position: relative;
}
.process__form-select::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(135deg);
  pointer-events: none;
  position: absolute;
  top: 40%;
  right: 20px;
}
.process__form-input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 5px;
  cursor: pointer;
  width: 370px;
  height: 48px;
  outline: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.process__form-input_type_range {
  max-width: 770px;
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.process__form-input_type_range::-webkit-slider-thumb {
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  box-sizing: border-box;
}
.process__form-input_type_range::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  box-sizing: border-box;
}
.process__form-input_type_range::-ms-thumb {
  width: 23px;
  height: 23px;
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  box-sizing: border-box;
}
.process__form-input_select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.process__form-input_select::-ms-expand {
  display: none;
}
.process__form-input::placeholder {
  max-width: 324px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #272733;
}
.process__form-input:last-of-type {
  margin-right: 0;
}
.process__title {
  padding-top: 150px;
  margin: 0 auto;
  max-width: 429px;
  font-style: normal;
  font-weight: 700; /* 800 не нашел на google fonts */
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.process__title-span {
  color: #43ABF0;
}
.process__subtitle {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 555px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #BBBBBB;
}
.process__work {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.process__work-image {
  width: 33px;
  height: 33px;
  object-fit: contain;
}
.process__work-text {
  flex-wrap: nowrap;
  margin: 20px 51px 0 0;
  width: 188px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.process__work-text:last-of-type {
  margin-right: 0;
}
.process__work-wrapper-first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.process__work-wrapper-second {
  display: flex;
}
.process__work-wrapper {
  padding-top: 39px;
}
.process__work-wrapper:first-of-type {
  padding-top: 58px;
}
.process__work-stage {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3E9CDC;
  border: 5px solid #286690;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__work-circle {
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C4C4C4;
  margin: 0 20px 0 0;
}
.process__work-circle_closest {
  margin-left: 13px;
}

/*# sourceMappingURL=styles.css.map */
