@import "../../fonts/fonts";

.footer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  background: #3D4050;
  padding: 0 373px;
  overflow: hidden;

  @media screen and (max-width: 1500px) {
    padding: 0 130px;
  }

  @media screen and (max-width: 1050px) {
    padding: 0 85px;
  }

  @media screen and (max-width: 929px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 500px) {
    padding: 0 10px;
  }

  @media screen and (max-width: 420px) {
    padding: 0 5px;
  }

  &__border {
    width: 1px;
    height: 18px;
    background: #C3C3C3;
    margin: 0 40px;

    @media screen and (max-width: 929px) {
      display: none;
    }
  }

  &__copyright {
    max-width: 306px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $main-color;

    @media screen and (max-width: 1050px) {
      font-size: 12px;
    }

    @media screen and (max-width: 929px) {
      margin-right: 10px;
    }
  }

  &__payment {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 929px) {
      margin-right: 10px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    &-text {
      max-width: 85px;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: #C3C3C3;
    }

    &-item {
      display: flex;
      max-width: 150px;
      margin: 0 40px 0 0;

      @media screen and (max-width: 929px) {
        margin-right: 20px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 0 12px 0 0;
  }

  &__link {
    display: flex;
    margin: 0 40px 0 0;

    @media screen and (max-width: 929px) {
      margin-right: 20px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &-text {
      width: fit-content;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: left;
      color: #FFFFFF;
      text-decoration: none;
      transition: .3s linear;

      @media screen and (max-width: 500px) {
        width: 80px;
        font-size: 11px;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 374px) {
        font-size: 9px;
      }


      &:hover {
        opacity: .6;
        cursor: pointer;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}