@import "../../fonts/fonts";

.process {
  max-width: 1920px;
  height: 1300px;
  background-image: url("/images/processbg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #10101D;

  &__select {
    display: flex;
    flex-direction: column;
    position: relative;

    &-img {
      width: 8px;
      height: 5px;
      margin-left: 130px;
      transition: rotate .2s linear;

      &_active {
        transform: rotate(180deg);
      }
    }

    &-wrapper {
      position: absolute;
      top: 65px;
      left: 0;
      display: none;
      box-sizing: border-box;
      background: rgba(39, 39, 51, 0.9);
      border: 1px solid #3D4050;
      border-radius: 3px;
      width: 370px;
      height: 200px;
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 3;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 34px;
      align-items: center;
      color: $main-color;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #10101D
      }

      &::-webkit-scrollbar-thumb {
        background: $span-color;
        border-radius: 3px;
      }

      &_active {
        display: block;
      }
    }

    &-title {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 5px;
      cursor: pointer;
      width: 370px;
      height: 48px;
      outline: none;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #272733;

      &_active {
        background: rgba(39, 39, 51, 0.9);
        color: $main-color;
        border: 0;
      }
    }

    &-label {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 5px;
      width: 370px;

      &:hover {
        color: $span-color;
      }
    }

    &-input {
      display: none;

      &:checked + label {
        color: $span-color
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;

    &-select-option {
        height: 25px;
        overflow-y: scroll;
        scrollbar-track-color: #3D4050;
        scrollbar-face-color: $span-color;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #10101D
      }

      &::-webkit-scrollbar-thumb {
        background: $span-color;
        border-radius: 3px;
      }

      &:hover {
        box-shadow: 0 0 10px 100px $span-color inset;
      }
    }

    &-select {
      position: relative;

      &::after {
        content: '';
        width: 6px;
        height: 6px;
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
        transform: rotate(135deg);
        pointer-events: none;
        position: absolute;
        top: 40%;
        right: 20px;
      }
    }

    &-input {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      gap: 5px;
      cursor: pointer;
      width: 370px;
      height: 48px;
      outline: none;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #FFFFFF;
      border-radius: 3px;

      &_select {
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand {
          display: none;
        }
      }

      &::placeholder {
        max-width: 324px;
        height: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #272733;

      }

      &:last-of-type {
        margin-right: 0;
      }
    }

  }

  &__title {
    padding-top: 150px;
    margin: 0 auto;
    max-width: 429px;
    font-style: normal;
    font-weight: 700; /* 800 не нашел на google fonts */
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $main-color;

    &-span {
      color: $span-color;
    }
  }

  &__subtitle {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 555px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #BBBBBB;
  }

  &__work {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-image {
      width: 33px;
      height: 33px;
      object-fit: contain;
    }

    &-text {
      flex-wrap: nowrap;
      margin: 20px 51px 0 0;
      width: 188px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $main-color;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-wrapper-first {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-wrapper-second {
      display: flex;
    }

    &-wrapper {
      padding-top: 39px;

      &:first-of-type {
        padding-top: 58px;
      }
    }

    &-stage {
      box-sizing: border-box;
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #3E9CDC;
      border: 5px solid #286690;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-circle {
      box-sizing: border-box;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #C4C4C4;
      margin: 0 20px 0 0;

      &_closest {
        margin-left: 13px;
      }
    }
  }
}